h1
{
  margin: 0px;
  padding: 0px;
}
#signup
{
  width: 40%;
  margin-left: 2%;
  height: 100px;
}
#login
{
  border-bottom: 1px solid black;

  width: 40%;
  margin-left: 2%;
}
#signup input
{
  width: 40%;
}
